.card {
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    max-width: 300px;
    min-height: 150px;
    max-height: 300px;
    /* background-color: rgb(216, 216, 216); */
    background-color: #b9314c;
}

.card:hover {
    /* background-color: grey; */
    background-color: #b9314ca0;
}

h2 {
    margin: 0;
    font-size: 1.2em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

li {
    margin: 0;
}

.tag {
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
}

/* p {
    margin: 5px 0 0;
    font-size: 0.8em;
    color: #888;
} */