<div class="d-flex caja">
    <div class="degradado text-center">
        <img [src]="getAvatar()" alt="Avatar del usuario" class="mb-4 avatar">
        <h2 class="text-light">{{getUsername()}}</h2>
        <img src="./assets/img/logoTMDB.png" alt="Logotipo de la web" class="w-75">
    </div>
    <div class="menu">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-5">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Favorite</button>
                <ng-template ngbNavContent>
                    <div class="lists">
                        <div class="container">
                            <div class="row">
                                <app-movie-item-list class="item col-4 pt-5" *ngFor="let m of movieListFavorite"
                                    [movie]="m"></app-movie-item-list>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Watch List</button>
                <ng-template ngbNavContent>
                    <div class="lists">
                        <div class="container">
                            <div class="row">
                                <app-movie-item-list class="col-3 ps-5 pt-5" *ngFor="let m of movieListWatchList"
                                    [movie]="m"></app-movie-item-list>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <button ngbNavLink>Custom Lists</button>
                <ng-template ngbNavContent>
                    <div class="lists">
                        <div class="container">
                            <div class="pe-3 pt-3 d-flex justify-content-end">
                                <button type="button" class="btn addList" (click)="openVerticallyCentered(content)"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                        class="bi bi-plus" viewBox="0 0 16 16">
                                        <path
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                    </svg>Create list</button>
                            </div>
                            <div class="row">
                                <app-list class="col-3 ps-5 pt-5" *ngFor="let l of movieLists" [list]="l"></app-list>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="text-light">
        <div class="modal-header bg-secondary">
            <h4 class="modal-title">Create new list</h4>
            <button type="button" class="btn-close btn-light" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body bg-secondary">
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">List Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="name" name="name"
                    required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="10" [(ngModel)]="description" name="description"></textarea>
                </div>
                <button class="btn btn-primary" type="button" (click)="addList()" (click)="modal.close('Close click')">Create</button>
            </form>
        </div>
    </div>
</ng-template>